/* *{
    margin: 0;
    padding: 0;
} */

body{
    margin: 0px;
}
header div{
    display: flex;
    
}
header{
    height: 48px;
    background-color: rgb(15, 14, 14);
     display: flex;
    align-items: center;
}
#l-header{
    width: 13%;
    justify-content: space-between;
    height: 30px;
    margin-left: 15px;
}
#imdb{
    width: 48%;
    height: 30px;
}
#menu{
    background-color: rgb(15, 14, 14);
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content:space-around;
    width: 48%;
}
#c-header{
    display: flex;
    width: 70%;
    height: 30px;
    align-items: center;
    margin-left: 5px;
}
#all{
    width: 5%;
    height: 30px;
    align-items: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    padding-left: 2px;
}
#search{
    height: 30px;
    width: 91%;
    border: none;
    margin-left: 1px;
    padding-left: 5px;

}
#mag{
    background-color: white;
    width: 4%;
    height: 30px;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#r-header{
    display:flex;
    height: 17px;
    width:35%;
    align-items: center;
;
    

}
#i-pro,#w-list,#s-in,#lan{
    background-color: rgb(15, 14, 14);
    color: white;
    height: 30px;
    align-items: center;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
#p{
    color: rgb(0, 233, 241);
}
#sp{
    background-color: rgb(163, 154, 154);
    width: 2px;
    height: 30px;
    margin-left: 10px;
}
#en,#wl{
    margin-left: 8px;
}
#lan:hover{
    background-color: rgb(48, 45, 45);
}
#menu:hover{
    background-color: rgb(48, 45, 45);
}
#i-pro:hover{
    background-color: rgb(48, 45, 45);
}
#w-list:hover{
    background-color: rgb(48, 45, 45);
}
#s-in:hover{
    background-color: rgb(48, 45, 45);
}


main{
    background-color: black;
    height: 2000px;
    padding-top: 20px;
}
#top-main{
    height: 500px;
    display: flex;
    
}
#tleft{
    width: 70%;
    height: 500px;
    margin-left: 10px;

}
#bil{
    width: 100%;
    height: 450px;
}
#tright{
    width: 25%;
    height: 500px;
    display: block;
    margin-left: 10px;
}
#tr1,#tr2,#tr3{
    height: 120px;
    width: 100%;

}
#tr0{
    color: rgb(255, 166, 0);
    font-size: 20pt;
    width: 100%;
    height: 25px;
}
#tr4{
    color: white;
    font-size: 20pt;
    width: 100%;
    height: 25px;
}
#bild{
    display: flex;
    width: 100%;
    height: 100px;
    margin-left: 20px;
}
#bild1{
    width: 150px;
    height: 230px;
    align-self: flex-end;
}
#bild2{
    color: white;
    width: 50px;
    height: 100px;
    padding: 10px;
    font-size: 30pt;
    margin:20px 10px 0px 10px;
    
}
#bild3{
    color: white;
    width: 450px;
    height: 100px;
    font-size: 18pt;

}
footer{
    height: 300px;
    background-color: black;
}
.fl1{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px auto;



}
.fli1{
    color: white;
    flex: 1 0 auto;
    justify-self: center;
    padding: 5px 10px;


}
.footer-list{
    display: flex;
    justify-content: center;
    height: 150px;
}
.fl1 a{
    color: white;
}
.featured-today{
    margin: 20px 0px 20px 30px;
    width: 70%;
    height: 300px;
    display: grid;
    grid-template: none/50% 50%;
    padding-top: 0px;
    column-gap:20px;
}
.h-f-t{color: orange;font-weight:bolder;margin: 100px 0px 0px 30px;}
.ft-div{
    display: grid;
    grid-template-rows: 80% 20%;
    position: relative;
    color: white;
    
    

}
.ft-img{
    width: 100%;
    height: 100%;

}
.ft-p{
    font-size: 16pt;
    font-family: 'Roboto,Helvetica,Arial,sans-serif';
}
.ft-icon{
    position:absolute;
    bottom: 70px;
    left: 10px;
    color: white;
    font-size: 15pt;
}
.ft-span{margin-left: 2px;}
.ft-icon:hover{color: orange;}
.ft-next{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 60px;
    border: 2px solid white;
    border-radius: 10px;
    top:90px;
    right: -20px;
    background-color: rgb(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;

}
.nxt{
    font-size: 15pt;

}
.nxt:hover{
    color: orange;
}
.ff-h{
    display: inline-block;
    color: white;
    align-self: center;

}
.ff-a{
    margin: 20px 0px 0px 30px;
}
.ff-i{margin-left: 10px;}
.ff-h3{margin: 0px 0px 20px 30px;color: white;}
.ff-container{
    display: grid;
    grid-template-columns: repeat(6,auto)  ;
    column-gap: 20px;
    height: 500px;
    background-color: transparent;
    margin: 10px 30px 20px 30px;
}
.ff-div{
    
    display: grid;
    grid-template-rows: 60% 40%;

}
.ff-div1{
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.ff-div1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    
}
.ff-div2{
    background-color: rgb(32, 30, 30);
    display: grid;
    grid-template: repeat(4,1 fr) / 30% 70%;
    padding: 10px;
    color: white;
}
.ff-div2 a{
    grid-area: 1 2 / 2 3;

}
.ff-div2-s1{
    display: inline-block;
    
    
}
.ff-div2-b1{
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgba(112, 103, 103, 0.5);
    justify-self:center;
}
.ff-div2-b2{
    width: 50%;
    height: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgba(112, 103, 103, 0.5);
    justify-self:center;
}